<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>make a deposit</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="/favicon.ico" type="image/x-icon" rel="icon" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <nav class="transNav">
        <div>
            <h2 class="transheading">PROJECT BANK</h2>
            <a class="btn putbtn btn" href="index.html">Back home</a>
        </div>
    </nav>
    
        <div class="just">            
            <form action="/deposit" method="post" class="transctions trans">
                <h2>MAKE A DEPOSIT</h2>
                <input class="box" required type='number' name="deposit" min="5000" placeholder='Amount in UGX'/>
                <input class="box" type="number" placeholder="Account number" name="accountnumber" required>
                <input class="box" type="tel" placeholder="* Phone number" name="phone" required>
                <input required type="password" name="password1" placeholder="Confirm with a password" class="box" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters">
                <input class="btn" type="submit" class="btn" value="Deposit">
            </form>
        </div>
</body>
</html>