<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank management</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="/favicon.ico" type="image/x-icon" rel="icon" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <header>

        <div id="menu" class="fas fa-bars"></div>

        <nav class="navbar">
            <ul>
                <li><a href="account.html">Create Account</a></li>
                <li><a href="details.html">Account details</a></li>
                <li><a href="deposit.html">Deposit</a></li>
                <li><a href="withdraw.html">Withdraw</a></li>
                <li><a href="loan.html">Apply for a loan</a></li>
                <li><a href="predict.html">make predictions</a></li>
            </ul>
        </nav>
    </header>

    <div class="bank">
        <h2>PROJECT BANK</h2>
        <P>Open an account now to secure your finacial future with the Project bank. Services are now extended to you online wherever you are. With this, you can create an account, see your account details, make a deposit, withdraw funds, apply for a loan and see how the bank might perfom in the near future</P>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script src="script.js"></script>
    
</body>
</html>