<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank management</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="/favicon.ico" type="image/x-icon" rel="icon" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <header>

        <div id="menu" class="fas fa-bars"></div>

        <nav class="navbar">
            <ul>
                <li><a href="account.html">Create Account</a></li>
                <li><a href="details.html">Account details</a></li>
                <li><a href="transactions.html">Deposit</a></li>
                <li><a href="transactions.html">Withdraw</a></li>
                <li><a href="transactions.html">Apply for a loan</a></li>
                <li><a href="predict.html">make predictions</a></li>
            </ul>
        </nav>
    </header>

    <div class="bank">
        <h2>PROJECT BANK</h2>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi in cupiditate adipisci ducimus, repudiandae ullam? Soluta dolore eum consequatur animi voluptatem numquam iste impedit libero. Dolor, exercitationem! Debitis, adipisci ea explicabo aliquam eveniet architecto officiis asperiores nobis necessitatibus repudiandae expedita fugit tempora eius natus aliquid labore qui ipsum! Laudantium, quidem fuga. Consectetur recusandae illo aliquam in similique numquam sed voluptatibus obcaecati! Molestias totam libero, earum error aliquam placeat voluptate eveniet officia quod, iste sint dolores ea? Fugit sint cum cupiditate nihil facilis! Dolorem quas, debitis reprehenderit pariatur mollitia earum necessitatibus iusto praesentium sed repellat rerum optio error, cumque dolorum incidunt.</P>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script src="script.js"></script>
    
</body>
</html>